@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

body {
  font-family: "Jost";
}container

h1 {
  font-weight: "bold";
}



.map-container {
  width: 75%;
  height: 600px;
  overflow: visible;
}

.map-container iframe, 
.map-container svg, 
.map-container div {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  overflow: visible !important;
}

#map-container .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px !important;
  height: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px !important;
  height: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #004b23;
}

#spinner .load-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px !important;
  height: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Limit the bars specifically */
#spinner .loader-bars div {
  width: 8px !important;
  height: 40px !important;
}


/* Optional: avoid stretching */
#spinner .loader {
  max-width: 100px; /* Cap overall spinner size */
}